:host {
  display: block;
  padding: 16px;
  background-color: #f0f0f0;
}

.menu {
  background: linear-gradient(to bottom, #e6e6fa, #ffffff); 
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  padding: 32px;
  text-align: center;
  max-width: 400px;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 32px;
}

.menu h1 {
  color: red;
  font-size: 2em;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin: 8px 0;
  background: linear-gradient(to bottom, #e6e6fa, #ffffff);
  border-radius: 16px;
  padding: 8px;
  max-width: 300px; 
  margin-left: auto;
  margin-right: auto;
}

.menu li:hover {
  background-color: #b0c4de; 
  color: white; 
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu a:hover {
  text-decoration: underline;
  color: blue; 
}

.menu div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu button {
  background: linear-gradient(to bottom, #e6e6fa, #ffffff);
  border: none;
  border-radius: 16px;
  padding: 16px;
  width: 100%; 
  max-width: 300px;
  margin: 8px 0; 
  display: block;
  cursor: pointer;
}

.menu button:hover {
  background-color: red; 
  color: white; 
}

.menu img {
  display: block;
  max-width: 80%;
  height: auto;
  margin: 0 auto 32px;
}
